@import "./colors.scss";

body {
  margin: 0;
  min-height: 100%;
  background-color: $secondary;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.instruction {
  color: black;
  font-size: 18pt;
  margin: 24px 16px;
}

.news-list-item {
  height: 100px;
  background: white;
  padding: 16px;
  margin: 2px 0;
  flex-direction: row;
  display: flex;

  img {
    height: 95px;
    width: 95px;
  }

  .news-list-item-content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    a {
      color: $accent;
      text-decoration: none;
      cursor: pointer;
      height: 30px;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      width: calc(100vw - 130px);
      white-space: nowrap;

      &:hover {
        color: #013942;
      }
    }
    p {
      margin: 0;
    }
  }
}

.scaffold-container {
  min-height: 100vh;
}

.header {
  background: $primary;
  padding: 16px 24px;
  h3 {
    color: white;
    margin: 0;
  }
}

.content {
  min-height: calc(100vh - 120px);
}

.footer {
  background: #222;
  color: white;
  padding: 8px;
  text-align: center;

  a {
    color: $accent;
  }
}
